.hero {
    position: relative;
    max-width: 90rem;
    width: 80%;
    margin: 15rem auto;
    padding-top: 5rem;
    @include flex(space-around, center, row);

    @include tabletScreen {
      margin: 20rem auto;
      width: 90%;
    }

    @include desktopScreen {
      margin: 0 auto;
      height: 100vh;
    }

  &--picture {
    display: none;
    
    @include tabletScreen {
        display: block;
        overflow: hidden;
        border-radius: 50%;
        border: 0.2rem solid black;
        width: 20rem;
        height: 20rem;
    }

    @include desktopScreen {
      width: 25rem;
      height: 25rem;
    }
 
  }

  &--content {

    @include flex(space-between, flex-start, column);

    &__title {
        font-family: "Storybook", cursive;
        font-size: 4rem;
        line-height: 4rem;
      }
    
      &__subtitle {
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 700;
      }
    
      &__text {
        max-width: 30rem;
        margin: 1rem 0;
      }
    
      &__link {
        @include flex(space-between, center, row);
        width: 12rem;

        a {
          font-family: "Social Media Circled";
          font-size: 3rem;
          text-decoration: none;
          color: black;
          transition: all 200ms ease-in-out;

          &:hover {
            color: lightpink;
          }
        }
      }

  }
}
