.slider {
    position: relative;
    margin: 2.5rem auto;
    @include flex(center, center, column);
    width: 90%;
    max-width: 95rem;
    @include desktopScreen {
        height: 100vh;
    }

    &--btn {
        width: 75%;
        padding: 2rem;
        @include flex(space-between, center, row);

        &__next, &__previous {
            width: 5rem;
            cursor: pointer;
            transition: all 200ms ease-in-out;
        }

        @include tabletScreen {

            &__next:hover {
                transform: translateX(3rem);
            }
    
            &__previous{
                
                &:hover {
                transform: translateX(-3rem);
                }
            }
        }

        @include desktopScreen{
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.item {
    display: none;
    width: 80%;
    max-width: 70rem;

    &--title {
        font-family: 'Storybook', cursive;
        margin-bottom: 3rem;
        font-size: 2rem;
    }

    &--text {
        line-height: 2rem;
        font-weight: 400;
        font-size: 1.5rem;

        strong {
            font-weight: 600;
        }
    }
}

.active {
    animation: slide 500ms;
    display: block;
}

@keyframes slide {
    from {
        transform: translateX(30rem);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }


}