// bloc slider partie presentation
.slider {
  position: relative;
  margin: 2.5rem auto;
  height: 100vh;
  @include flex(flex-start, center, column);
  scroll-margin-top: 5rem;
  width: 90%;
  max-width: 95rem;

  @include desktopScreen {
    height: 100vh;
    scroll-margin-top: 2rem;
    @include flex(center, center, column);
  }

  // style des flèches de défilement
  &--btn {
    width: 75%;
    padding: 2rem;
    @include flex(space-between, center, row);

    &__next,
    &__previous {
      width: 5rem;
      background-color: $secondary;
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 0.2rem solid $primary;
      cursor: pointer;
      transition: all 200ms ease-in-out;
    }

    @include desktopScreen {
      position: absolute;
      width: 100%;

      // centre les flèches verticalement
      top: 50%;
      transform: translateY(-50%);

      // hover sur les flèches de défilement
      &__next:hover {
        transform: translateX(3rem);
      }

      &__previous:hover {
        transform: translateX(-3rem);
      }
    }
  }
}

// style des items du slider
.item {
  display: none;
  width: 80%;
  max-width: 70rem;
  padding: 1.5rem;

  &--title {
    margin-bottom: 3rem;
  }

  &--text {
    line-height: 2rem;
    font-weight: 400;
  }

  &--content {
    align-self: center;
    @include flex(space-around, flex-start, column);
    width: 100%;
    max-width: 50rem;

    @include tabletScreen {
      @include flex(space-around, center, row);
    }

    // style des pictogrammes partie compétences
    i {
      font-size: 2rem;

      @include tabletScreen {
        font-size: 2.5rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
      }
    }

    &__hardSkills {
      margin-bottom: 3rem;

      img {
        width: 6rem;

        @include desktopScreen {
          width: 7rem;
          margin-right: 1rem;
        }
      }

      p {
        font-weight: 600;
      }
    }
  }
}

// lorsque l'item est affiché
.active {
  animation: slide 500ms;
  display: block;
  @include flex(flex-start, flex-start, column);
}

// lien pour télécharger mon CV

.resume {
  @include flex(center, center, row);
  width: 6rem;
  height: 6rem;
  background-color: $secondary;
  border-radius: 0.5rem;
  border: 0.2rem solid $primary;
  transition: all 300ms ease-in-out;


  &:hover {
    transform: scale(1.1);

    a {
      color: white;
    }
  }

  a {
    text-decoration: none;
    color: $primary;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
