// flèche pour scroller de catégorie en catégorie
.scroll {
  display: none;
  position: absolute;
  cursor: pointer;
  width: 10rem;
  height: 10rem;
  animation: jump 1.5s infinite;

  // flèche décalée sur le côté droit de la page
  &--projects {
    right: -5%;
  }

  // flèche du footer pour remonter à la partie hero
  &--top {
    animation-direction: reverse;
  }

  @include desktopScreen {
    display: block;
    bottom: 13%;
  }
}
