// flexbox 

@mixin flex ($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direction;
    align-items: $align;
}

@mixin desktopScreen {
    @media screen and (min-width:1269px) {
        @content
    }
}

@mixin tabletScreen {
    @media screen and (min-width:768px) {
        @content
    }
}

