/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  min-width: 375px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

h1, h2 {
  font-family: "Storybook", cursive;
}

h3, h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.header {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 3rem 3rem 0 3rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.header--logo img {
  width: 5rem;
}
.header--burger {
  float: right;
  font-size: 1.8rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header--burger {
    display: none;
  }
}
.header--nav {
  position: absolute;
  top: 90%;
  right: -50%;
  opacity: 0;
  transition: all 300ms ease-in-out;
  background-color: white;
  height: 17rem;
  padding: 1rem 2rem;
}
@media screen and (min-width: 768px) {
  .header--nav {
    opacity: 1;
    position: initial;
    height: auto;
    width: 70%;
    max-width: 50rem;
    float: right;
  }
}
.header--nav i {
  float: right;
}
.header--nav ul {
  text-align: right;
  line-height: 3.5rem;
  font-weight: 600;
  font-size: 1.6rem;
}
.header--nav ul li {
  position: relative;
}
.header--nav ul li a {
  color: black;
  text-decoration: none;
  text-align: right;
}
.header--nav ul li:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.header--nav ul li::before {
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .header--nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}
.header--navOn {
  z-index: 1;
  opacity: 1;
  display: block;
  position: absolute;
  right: 0;
  top: 90%;
  transition: all 300ms ease-in-out;
}

.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.hero {
  position: relative;
  max-width: 90rem;
  width: 80%;
  margin: 15rem auto;
  padding-top: 5rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    margin: 20rem auto;
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    margin: 0 auto;
    height: 100vh;
  }
}
.hero--picture {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero--picture {
    display: block;
    overflow: hidden;
    border-radius: 50%;
    border: 0.2rem solid black;
    width: 20rem;
    height: 20rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero--picture {
    width: 25rem;
    height: 25rem;
  }
}
.hero--content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}
.hero--content__title {
  font-size: 4rem;
  line-height: 4rem;
}
.hero--content__subtitle {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
}
.hero--content__text {
  max-width: 30rem;
  margin: 1rem 0;
}
.hero--content__link {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 12rem;
}
.hero--content__link a {
  font-family: "Social Media Circled";
  font-size: 3rem;
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in-out;
}
.hero--content__link a:hover {
  color: lightpink;
}

.scroll {
  display: none;
  position: absolute;
  cursor: pointer;
  width: 10rem;
  height: 10rem;
  animation: jump 1.5s infinite;
}
@media screen and (min-width: 1024px) {
  .scroll {
    display: block;
    bottom: 10%;
  }
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(10rem);
  }
  60% {
    transform: translateY(-2rem);
  }
}
.slider {
  position: relative;
  margin: 2.5rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 95rem;
}
@media screen and (min-width: 1024px) {
  .slider {
    height: 100vh;
  }
}
.slider--btn {
  width: 75%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.slider--btn__next, .slider--btn__previous {
  width: 5rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .slider--btn__next:hover {
    transform: translateX(3rem);
  }
  .slider--btn__previous:hover {
    transform: translateX(-3rem);
  }
}
@media screen and (min-width: 1024px) {
  .slider--btn {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.item {
  display: none;
  width: 80%;
  max-width: 70rem;
}
.item--title {
  margin-bottom: 3rem;
  font-size: 2rem;
}
.item--text {
  line-height: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
}
.item--text strong {
  font-weight: 600;
}

.active {
  animation: slide 500ms;
  display: block;
}

@keyframes slide {
  from {
    transform: translateX(30rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
#projects {
  margin: 15rem auto;
  width: 90%;
}
@media screen and (min-width: 1024px) {
  #projects {
    height: 100vh;
  }
}

@media screen and (min-width: 768px) {
  .projects--grid {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .projects--grid {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
  }
}

.projects--intro__title {
  font-size: 2rem;
}
.projects--intro__intro {
  margin-bottom: 3rem;
}

.projects--item {
  grid-auto-rows: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin: 5rem 2rem;
}
.projects--item__img {
  border: 0.1rem solid black;
  width: 100%;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .projects--item__img {
    width: 40rem;
    height: 20rem;
  }
}
.projects--item__title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.projects--item__title h3 {
  font-size: 2rem;
  line-height: 5rem;
  margin-right: 1rem;
}
.projects--item__title a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  margin-right: 0.3rem;
  transition: all 300ms ease-in-out;
}
.projects--item__title a:hover {
  color: lightpink;
}
.projects--item__toggle {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}
.projects--item__toggle i {
  transition: all 300ms ease-in-out;
}
.projects--item__toggle i:hover {
  transform: rotate(360deg);
}
.projects--item__content {
  display: none;
  margin-bottom: 2rem;
}
@keyframes show {
  from {
    transform: translateY(-10rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.projects--item__contentOn {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  display: block;
  animation: show 200ms;
  width: 90%;
}
.projects--item__skills {
  width: 100%;
}
.projects--item__skills h4 {
  font-size: 2rem;
  line-height: 5rem;
}
.projects--item__skills i {
  font-size: 3rem;
  margin-right: 1rem;
}
.projects--item__skillsLogo {
  width: 10rem;
}/*# sourceMappingURL=main.css.map */